<% provide(:sect_header, "> Profile") %>
<div id="profile">
  <div id="cover_pic">
    <%= image_tag 'https://i1.wp.com/entertainmentmesh.com/wp-content/uploads/2015/07/world-journey-fb-cover-photo.jpg'%>
  </div>
  <div id="profile_pic">
    <%= image_tag 'https://nwsid.net/wp-content/uploads/2015/05/dummy-profile-pic-300x300.png'%>
  </div>
  <div id="profile_data" class="p-2 border-bottom border-light">
    <div class="text-white d-flex justify-content-between align-items-center">
      <h2>
        <b><%= @user.name || @user.username %></b>
      </h2>
      <% if conditions_to_follow? @user %>
        <%= link_to 'Follow', follow_path(id: @user.id), method: :post, class:"btn btn-outline-primary rounded-pill" %>
      <% elsif current_user.follows? @user %>
        <%= link_to content_tag(:span,content_tag(:span,'Following', class: 'old_tag'), class:'new_tag'), follow_path(id: @user.id), method: :delete, class:"following btn btn-outline-info rounded-pill" %>
      <% end %>
    </div>
    <h4 class="text-light-gray"><%= @user.username %></h4>
    <p><%= @user.bio %></p>
    <div class = "d-flex justify-content-end">
      <% unless @user.location.nil? %>
        <%= content_tag :span, class: 'pr-3' do %>
          <%= content_tag :i, '', class:  'fa fa-map-marker' %>
          <%= @user.location %>
        <% end  %>
      <% end %>
      <% unless @user.birth_date.nil? %>
        <%= content_tag :span, class: 'pr-3' do %>
          <%= content_tag :i, '', class:  'fa fa-birthday_cake' %>
          <%= @user.birth_date %>
        <% end  %>
      <% end %>
      <span class= "pr-3">
        <i class="fa fa-calendar"></i>
        Joined <%= time_ago_in_words(@user.created_at) %> ago.
      </span>
    </div>
  </div>
  <div>
    <% @u_posts.each do |p| %>
      <%= render 'shared/post', post: p %>
    <% end %>
  </div>
</div>
