
<div class= "d-flex pl-0">
  <%= render 'shared/badge_pic', user: current_user %>
  <div class="px-1 col-11">
    <%= form_with model: Comment.new, url: new_comment_path , local: true do |f| %>
      <div>
        <%= f.hidden_field :post_id, value: post_id %>
        <%= f.text_area :comment, placeholder: "Comment", class: 'form-control bg-light text-white', rows:'2' %>
      </div>
      <div class="d-flex justify-content-end">
        <%= f.submit 'Submit', class: 'btn btn-outline-success mt-1 rounded-pill'%>
      </div>
    <% end %>
  </div>
</div>
