<div class="post row m-0 py-2 border-bottom border-light">
  <div class="badge_pic text-center col-1">
    <%= link_to image_tag('https://nwsid.net/wp-content/uploads/2015/05/dummy-profile-pic-300x300.png'), post.user %>
  </div>
  <div class="col-11">
    <div>
      <span class="post-name h4 font-weight-bold text-white">
        <%= link_to post.user.name || post.user.username, post.user, class:'text-decoration-none'%>
      </span>
      <span>
        <%= post.user.username unless post.user.name.nil? %>
      </span>
      <span class="font-weight-bold text-light">
        - <%= time_ago_in_words(post.created_at) %> ago
      </span>
    </div>
    <div>
      <%= post.content %>
    </div>
    <ul class = "post-actions nav mx-auto col-6 d-flex py-2 justify-content-between">
      <li>
    
        <%= button_tag content_tag(:i,'',class:"fa fa-heart-o"),
                    data: { url: like_path(id: post.id) },
                    class: "like-btn text-reset#{ " hide" if current_user.likes?(post.id) }",
                    remote: true
                    %>
        <%= button_tag content_tag(:i,'',class:"fa fa-heart"),
                    data: { url: like_path(id: post.id) }, 
                    class: "unlike-btn text-reset#{ " hide" unless current_user.likes?(post.id) }",
                    remote: true
                    %>
        <span> <%= post.like_ct %> </span>
      </li>
      <li>
        <i class="fa fa-comment-o"></i> 4
      </li>
    </ul>
    <div>
      <%= render 'shared/new_comment', post_id: post.id %>
    </div>
  </div>
</div>
