<header>
  <nav id ="sect_header_nav" class="navbar text-white justify-content-start">
    <div class = "h4" ><b>> Who to follow?</b></div>
  </nav>
</header>
<div class= "border-top">
  <%=content_tag :p, "No new users to follow", class:"py-2 text-center" unless current_user.recommend_follows.any? %>
  <% current_user.recommend_follows.each do |u|%>
    <div class="py-1 pl-2 d-flex align-items-center border-bottom border-light">
      <div class="badge_pic text-center">
        <%= link_to image_tag('https://nwsid.net/wp-content/uploads/2015/05/dummy-profile-pic-300x300.png'), u %>
      </div>
      <div>
        <div>
          <span class="pl-2 font-weight-bold text-white">
            <%= link_to u.name || u.username, u, class:'text-decoration-none text-reset'%>
          </span>
        </div>
        <div class ="stats d-flex align-items-center">
          <small class= "px-2">Posts: <b><%= u.post_ct %></small></b>|
          <small class= "px-2">Followers: <b><%= u.follower_ct %></small></b>
        </b>
      </div>
      <small class="pl-2 font-weight-bold text-secondary">
        <%= "Joined: " + time_ago_in_words(u.created_at) %> ago
      </small>
    </div>
    <div class = "mx-auto">
      <%= render 'shared/fol_unfol_btn', u: u %>
    </div>
  </div>
<% end %>
</div>
